<div class="has-text-left">
  <form class="player-number-selector box" [formGroup]="form">
    <div class="field">
      <label for="partyName" class="label">Nom de la partie</label>
      <div class="control">
        <input type="text" placeholder="Nom de la partie" class="input" formControlName="name" id="partyName">
      </div>
    </div>
    <div class="field">
      <label for="partyPlayers" class="label">Joueurs</label>
      <div class="control">
        <input class="input is-primary" type="tags" placeholder="Ajouter des joueurs" formControlName="players" id="partyPlayers" (change)="handlePlayersChange($event)">
      </div>
    </div>
  </form>
</div>
