<section class="container mt-5">
  <div class="steps" id="stepsDemo">
    <div class="step-item is-active is-success">
      <div class="step-marker">1</div>
      <div class="step-details">
        <p class="step-title">Informations</p>
      </div>
    </div>
    <div class="step-item">
      <div class="step-marker">2</div>
      <div class="step-details">
        <p class="step-title">Disctinction</p>
      </div>
    </div>
    <div class="step-item">
      <div class="step-marker">3</div>
      <div class="step-details">
        <p class="step-title">Fracture</p>
      </div>
    </div>
    <div class="step-item">
      <div class="step-marker">4</div>
      <div class="step-details">
        <p class="step-title">Grille</p>
      </div>
    </div>
    <div class="step-item">
      <div class="step-marker">5</div>
      <div class="step-details">
        <p class="step-title">Finalisation</p>
      </div>
    </div>
    <div class="steps-content">
      <div class="step-content is-active">
        <app-creator-party-settings (onFormValid)="handlePartySettingsValidation($event)"></app-creator-party-settings>
      </div>
      <div class="step-content is-active">
        <app-work-in-progress></app-work-in-progress>
      </div>
      <div class="step-content">
        <app-creator-themes-settings></app-creator-themes-settings>
      </div>
      <div class="step-content">
        <app-creator-grid-settings></app-creator-grid-settings>
      </div>
      <div class="step-content has-text-centered">
        <h1 class="title is-4">Your account is now created!</h1>
        <img src="assets/svgs/finish_line.svg" alt="" class="finish-image">
      </div>
    </div>
    <div class="steps-actions">
      <div class="steps-action">
        <a data-nav="previous" class="button is-light" (click)="onPrev()">Précédent</a>
      </div>
      <div class="steps-action">
        <button data-nav="next" class="button is-light" (click)="onNext()">
          Suivant
        </button>
      </div>
    </div>
  </div>
</section>
