<h1 class="title">Ajouter un joueur</h1>

<div class="box">
  <form [formGroup]="form">

    <div class="columns">
      <div class="field column">
        <label class="label">Nom</label>
        <div class="control">
          <input class="input" type="text" placeholder="Nom" formControlName="name">
        </div>
      </div>
      <div class="field column">
        <label class="label">Thème</label>
        <div class="control">
          <div class="select">
            <select formControlName="theme">
              -
              <option [value]="theme.name" *ngFor="let theme of themes">{{theme.name}}</option>
            </select>
          </div>
        </div>
      </div>

    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" [disabled]="form.invalid" (click)="addPlayer()">Ajouter</button>
      </div>
    </div>
  </form>

</div>

<div class="box">
  <div class="table-container">
    <table class="table is-fullwidth is-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Théme</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players">
        <th>{{player.name}}</th>
        <th>{{player.theme}}</th>
        <th><button class="button is-danger" (click)="deletePlayer(player)">Supprimer</button></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
