<h1 class="title">Ajouter une question</h1>

<div class="box">
  <form [formGroup]="form">

    <div>
      <div class="field">
        <label class="label">Question</label>
        <div class="control">
          <input class="input" type="text" placeholder="Question" formControlName="question">
        </div>
      </div>
      <div class="field">
        <label class="label">Réponse</label>
        <div class="control">
          <input class="input" type="text" placeholder="Réponse" formControlName="answer">
        </div>
      </div>
      <div class="field">
        <label class="label">Thèmes</label>
        <div class="control">
          <app-input-theme-autocomplete (themeSelected)="addTheme($event)"></app-input-theme-autocomplete>
        </div>
      </div>
      <div class="themes-selected-container">
        <span class="tag is-success mr-2" *ngFor="let theme of selectedThemes; let i = index">{{theme.name}}
          <button class="delete is-small" (click)="removeThemeFromQuestion(i)"></button></span>
      </div>

    </div>
    <div class="field is-grouped buttons-container">
      <div class="control">
        <button class="button is-link" [disabled]="form.invalid" (click)="addQuestion()">Ajouter</button>
      </div>
    </div>
  </form>

</div>
