<section class="container columns">
  <aside class="menu admin-menu-container">
    <p class="menu-label pt-5">
      General
    </p>
    <ul class="menu-list">
      <li routerLink="/admin/add-player"><a>Ajouter un Joueur</a></li>
      <li routerLink="/admin/add-theme"><a>Ajouter un Thème</a></li>
      <li routerLink="/admin/add-question"><a>Ajouter une Question</a></li>
    </ul>
  </aside>
  <div class="column container">
    <router-outlet></router-outlet>
  </div>
</section>
