@import "~bulma/sass/utilities/initial-variables";

section.container {
  height: calc(100vh - 3.25rem);
  .admin-menu-container {
    width: 300px;
    padding: 20px;
    box-shadow: 2px 0 0 0 whitesmoke;
  }
}
