<form action="">
  Ajouter la question d'un joueur
  <div class="field">
    <label class="label">Question</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div>
  <div class="field">
    <label class="label">Thème</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Ajouter</button>
    </div>
  </div>
</form>
