<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form class="box" [formGroup]="form" (ngSubmit)="login()">
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="equinox@gmail.com" class="input" formControlName="email">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Mot de passe</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" formControlName="password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Se souvenir de moi
              </label>
            </div>
            <div class="field">
              <button class="button is-success" [disabled]="form.invalid">
                Se connecter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
