<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
       data-target="navbarBasicExample" (click)="toggleMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home">
        <fa-icon [icon]="faHome" class="has-text-info"></fa-icon>
        Accueil
      </a>

      <a class="navbar-item" routerLink="/games" *ngIf="authService.isAuthenticated">
        <fa-icon [icon]="faGames" class="has-text-success"></fa-icon>
        Mes parties
      </a>
      <a class="navbar-item" routerLink="/admin" *ngIf="authService.isAuthenticated">
        <fa-icon [icon]="faAdmin" class="has-text-danger"></fa-icon>
        Administration
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item" *ngIf="!authService.isAuthenticated">
        <div class="buttons">
          <a class="button is-primary" routerLink="/signup">
            <strong>Inscription</strong>
          </a>
          <a class="button is-light" routerLink="/login">
            Connexion
          </a>
        </div>
      </div>
      <div class="navbar-item navbar-user" *ngIf="authService.isAuthenticated">
        <span *ngIf="authService.user">
          {{this.authService.user.email}}
        </span>
        <a class="button is-danger" (click)="authService.logout()">
          Déconnexion
        </a>
      </div>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

