<section class="game-container">
  <div class="themes-container columns is-multiline">
    <div class="theme column" *ngFor="let theme of themes; let i = index">
      <div class="theme-color theme-{{i}}"></div>
      <div class="theme-name">{{theme.name}}</div>
    </div>
  </div>
  <div class="columns card-container is-multiline">
    <div class="column is-2" *ngFor="let question of questions; let i = index">
      <div class="box theme-{{getThemeIndex(question.theme)}}" [ngClass]="{'is-revealed': isRevealed, 'visited': question.visited}"
           (click)="openModal(i)">{{i + 1}}</div>
    </div>
  </div>
  <button class="button is-fullwidth is-info" (click)="revealCard()" *ngIf="!isRevealed && !hasBeenRevealed">Réveler</button>
  <div class="title has-text-centered timer" *ngIf="isRevealed">
    {{this.timeLeft}} secondes
  </div>
</section>

<!--MODAL-->
<div class="modal is-active is-clipped" *ngIf="modalOpen">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head theme-{{getThemeIndex(questions[questionSelected].theme)}}">
      <p class="modal-card-title">Question N° {{questionSelected + 1}} - {{questions[questionSelected].theme}}</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      {{questions[questionSelected].question}}
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="closeModal()">Fermer</button>
    </footer>
  </div>
</div>
