@import "~bulma/sass/utilities/initial-variables";

section.game-container {
  height: 100%;
  width: 100%;

  .card-container {
    padding: 15px;

    .box {
      padding: 25px;
      font-size: 30px;
      font-weight: 800;
      text-align: center;
      transition-duration: 0.25s;

      &:hover {
        cursor: pointer;
        color: black;
        background-color: $turquoise;
      }

      &:not(.is-revealed) {
        background-color: $turquoise !important;
      }

      &.visited {
        background-color: $turquoise !important;
      }
    }
  }


  .themes-container {
    padding: 15px;

    .theme {
      .theme-color {
        height: 20px;
        width: 50px;
        border: solid 2px $orange;
      }

      .theme-name {
        color: #ececec;
      }
    }

  }
}


.theme-0 {
  background-color: #1abc9c !important;
}

.theme-1 {
  background-color: #c47c00 !important;
}

.theme-2 {
  background-color: #8e44ad !important;
}

.theme-3 {
  background-color: #c0392b !important;
}

.theme-4 {
  background-color: #2980b9 !important;
}

.theme-5 {
  background-color: #e84393 !important;
}

.theme-6 {
  background-color: #fbc531 !important;
}
