<div class="input-container">
  <div class="field">
    <label for="" class="label">Chercher vos questions</label>
    <div class="control">
      <input type="text" placeholder="Quelle est ... ?" class="input is-info" (input)="detectQuestions($event)" name="query"
             [(ngModel)]="query">
    </div>
  </div>

  <div class="autocomplete-theme-container box" *ngIf="autocompleteQuestions?.length">
    <ul *ngIf="autocompleteQuestions.length">
      <li *ngFor="let question of autocompleteQuestions" (click)="selectQuestion(question)">{{question.question}} - <span
        class="is-bold">{{question.answer}}</span></li>
    </ul>
  </div>
</div>
