@import "~bulma/sass/utilities/initial-variables";

.input-container {
  position: relative;

  .autocomplete-theme-container {
    z-index: 2;
    width: 100%;
    position: absolute;

    li {
      &:hover {
        cursor: pointer;
        color: $turquoise;
      }
    }
  }
}
