<h1 class="title">Ajouter un thème</h1>

<div class="box">
  <form [formGroup]="form" (ngSubmit)="addTheme()">

    <div class="columns">
      <div class="field column">
        <label class="label">Nom du thème</label>
        <div class="control">
          <input class="input" type="text" placeholder="Nom du thème" formControlName="name">
        </div>
      </div>

    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="button" (click)="addTheme()">Ajouter</button>
      </div>
    </div>
  </form>

</div>

<div class="box">
  <ul>
    <li *ngFor="let theme of themes; let i = index" class="columns">
      <div class="column">
        <span>{{i + 1}} - {{theme.name}}</span>
      </div>
      <div class="column has-text-right">
        <button class="button is-danger is-small" (click)="deleteTheme(theme)">Supprimer</button>
      </div>
    </li>
  </ul>
</div>
