<div class="input-container">
  <input type="text" placeholder="Theme" class="input is-info" (input)="detectTheme($event)" name="themeQuery"
         [(ngModel)]="themeQuery">
  <div class="autocomplete-theme-container box" *ngIf="autocompleteThemes?.length">
    <ul *ngIf="autocompleteThemes.length">
      <li *ngFor="let theme of autocompleteThemes" (click)="selectTheme(theme)">{{theme.name}}</li>
    </ul>
  </div>
</div>
