<div class="theme-selector-container mt-5">
  <h3 class="subtitle">Selection des themes de la seconde partie </h3>
  <form class="theme-selector box">
    <div class="field">
      <label class="label">Thèmes de la fracture</label>
      <div class="control">
        <div class="column input-container">
          <app-input-theme-autocomplete (themeSelected)="addTheme($event)"></app-input-theme-autocomplete>
        </div>
      </div>
    </div>
  </form>

  <!-- LISTE DES THEMES SELECTIONNES-->
  <div class="box" *ngIf="themes?.length">
    <h3 class="subtitle">Liste des themes selectionnés</h3>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let theme of themes; let i = index">
        <th>{{i + 1}}</th>
        <th>{{theme.name}}</th>
        <th>
          <button class="button is-danger" (click)="removeThemeFromList(i)">
            <fa-icon [icon]="trashIcon"></fa-icon>
          </button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': isModalOpen}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Choix des questions pour le thème</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <app-input-question-autocomplete (questionSelected)="handleQuestionSelection($event)"></app-input-question-autocomplete>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Valider</button>
      <button class="button" (click)="closeModal()">Annuler</button>
    </footer>
  </div>
</div>

