/* You can add global styles to this file, and also import other style files */
@import '~noty/lib/noty.css';
@import "~noty/src/themes/mint.scss";

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
