<section class="container">
  <div class="has-text-right">
    <button class="button is-info" [routerLink]="'/creator'">Créer une partie</button>
  </div>
  <div class="hero mt-6">
    <img src="assets/svgs/old_day.svg" alt="" class="no-game-image">
    <h1 class="title has-text-centered">Vous n'avez pas encore créé de partie...</h1>
  </div>
</section>
